{% extends 'parent/base.html' %}
{% load static %}
{% block title %}Change password{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Change password</h3>
          <span class="breadcrumb"><a href="{% url 'game:index' %}">Home</a>  >  Change password</span>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-page section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="left-text">
            <h2>hello {{ user }}! Please enter your new password.</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-content">
            <div class="row">
              <div class="col-lg-12">
                <form id="contact-form" action="" method="post">
                    {% csrf_token %}
                  <div class="row">
                    <div class="col-lg-6">
                      <fieldset>
                        {{ form.password }}
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        {{ form.password2}}
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="orange-button">proceed</button>
                      </fieldset>
                    </div>
                  </div>
                </form>
                <hr>
                {% if form.errors %}
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                {{ error }}
                                <hr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}