{% extends 'parent/base.html' %}
{% load static %}
{% block title %}Lugx Gaming{% endblock %}
{% block content %}
    <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="caption header-text">
            <h6>Welcome to lugx</h6>
            <h2>BEST GAMING SITE EVER!</h2>
            <p>LUGX Gaming is the best game shop ever. you can find any game you want in here with best prices and mind blowing offers, enjoy! </p>
            <div class="search-input">
              <form id="search" action="{% url 'game:search' %}">
                <input type="text" placeholder="Type Something" id='searchText' name="query" onkeypress="handle" />
                <button role="button">Search Now</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-2">
          <div class="right-image">
            <img src="{{ best_offer.image.url }}" alt="">
            <span class="price">${{ best_offer.get_final_price }}</span>
            <span class="offer">-{{ best_offer.off }}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section trending">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>Trending</h6>
            <h2>Trending Games</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="{% url 'game:trending_games' %}">View All</a>
          </div>
        </div>
        {% for game in trending_games %}
            <div class="col-lg-3 col-md-6">
          <div class="item">
            <div class="thumb">
              <a href="{{ game.get_absolute_url }}"><img src="{{ game.image.url }}" alt=""></a>
              <span class="price">{% if game.off == 0  %}${{ game.price }}{% else %}<em>${{ game.price }}</em>${{ game.get_final_price }}{% endif %}</span>
            </div>
            <div class="down-content">
              <span class="category">{{ game.category }}</span>
              <h4>{{ game.title }}</h4>
              <a href="{{ game.get_absolute_url }}"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="section most-played">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>TOP GAMES</h6>
            <h2>Most Played</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="{% url 'game:most_played' %}">View All</a>
          </div>
        </div>
       {% for game in most_played %}
            <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="{{ game.get_absolute_url }}"><img src="{{ game.image.url }}" alt=""></a>
            </div>
            <div class="down-content">
                <span class="category">{{ game.category }}</span>
                <h4>{{ game.title}}</h4>
                <a href="{{ game.get_absolute_url }}">Explore</a>
            </div>
          </div>
        </div>
       {% endfor %}
      </div>
    </div>
  </div>

  <div class="section categories">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h2>Categories</h2>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>Platformer</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="{% static "assets/images/categories-01.jpg" %}" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>Shooter</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="{% static "assets/images/categories-05.jpg" %}" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>RPG</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="{% static "assets/images/categories-03.jpg" %}" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>Action</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="{% static "assets/images/categories-04.jpg" %}" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>Family</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="{% static "assets/images/top-game-04.jpg" %}" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="shop">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Our Shop</h6>
                  <h2>Go Pre-Order Buy & Get Best <em>Prices</em> For You!</h2>
                </div>
                <p>Best prices,don't miss out our offs on the greatest hits of the gaming industry!</p>
                <div class="main-button">
                  <a href="{% url 'game:game-list' %}">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-2 align-self-end">
          <div class="subscribe">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Dear customer</h6>
                  <h2>If there is any problem with the site please help us by submitting a <em>Ticket</em>, thanks!</h2>
                </div>
                <div class="main-button">
                    <a href="{% url 'game:contact_us' %}" class="btn-danger">Submit a ticket</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% if messages %}
    <div id="notification" class="notification">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
<script>
    window.onload = function() {
        var notification = document.getElementById("notification");
        if (notification) {
            notification.className = "notification show";
            setTimeout(function(){ notification.className = notification.className.replace("show", ""); }, 3000);
        }
    };
</script>
{% endblock %}





