{% extends 'parent/base.html' %}
{% load static %}
{% block title %}{{ game.title }}{% endblock %}
{% block content %}
<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>{{ game.title }}</h3>
          <span class="breadcrumb"><a href="{% url 'game:index' %}">Home</a>  >  <a href="{% url 'game:game-list' %}">Shop</a>  >  {{ game.title }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="single-product section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="{{ game.image.url }}" alt="game cover">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <h4>{{ game.title }}</h4>
          <span class="price">{% if game.off == 0 %}${{ game.price }}{% else %}<em>${{ game.price }}</em> ${{ game.get_final_price }}{% endif %}</span>
          <p>{{ game.summary|linebreaks }}</p>
          <form id="qty" action="#">
            <input type="qty" class="form-control" id="1" aria-describedby="quantity" placeholder="1">
            <button type="submit"><i class="fa fa-shopping-bag"></i> ADD TO CART</button>
          </form>
          <ul>
            <li><span>Game ID:</span> {{ game.id }}</li>
            <li><span>category:</span><a href="#">{{ game.category }}</a></li>
            <li><span>Multi-tags:</span> {% for tag in game.tags.all %} <a href="#">#{{ tag }}</a>,{% endfor %}</li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="sep"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tabs-content">
            <div class="row">
              <div class="nav-wrapper ">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
                  </li>
                    {% if game.review %}
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Review</button>
                  </li>
                    {% endif %}
                </ul>
              </div>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                  {{ game.description|linebreaks }}
                </div>
                  {% if game.review %}
                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                  <p>{{ game.review.author }} from {{ game.review.site }}</p>
                  <p>{{ game.review.body|linebreaks }}</p>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section categories related-games">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>Related Games</h2>
          </div>
        </div>
        <div class="col-lg-6">
        </div>
        {% for game in similar_games.all %}
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>{{ game.category}}</h4>
            <div class="thumb">
              <a href="{{ game.get_absolute_url }}"><img src="{{ game.image.url }}" alt=""></a>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="col-lg col-sm-6 col-xs-12">
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
        </div>
      </div>
    </div>
  </div>
{% endblock %}






