{% extends 'parent/base.html' %}
{% load static %}
{% block title %}{{ query }}{% endblock %}
{% block content %}
    <div class="page-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Results for {{ query }}</h3>
                    <span class="breadcrumb"><a href="{% url 'game:index' %}">Home</a> > {{ query }} </span>
                </div>
            </div>
        </div>
    </div>

    <div class="section trending">
        <div class="container">
            <div class="row trending-box" id="games-container">
                {% for game in games %}
                    <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6 adv">
                        <div class="item">
                            <div class="thumb">
                                <a href="{{ game.get_absolute_url }}"><img src="{{ game.image.url }}" alt=""></a>
                                <span class="price">{% if game.off == 0 %}${{ game.price }}{% else %}
                                    <em>${{ game.price }}</em>$
                                    {{ game.get_final_price }}{% endif %}</span>
                            </div>
                            <div class="down-content">
                                <span class="category">{{ game.category }}</span>
                                <h4>{{ game.title }}</h4>
                                <a href="{{ game.get_absolute_url }}"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="pagination">
                        {% if games.has_previous %}<li><a href="?page={{ games.previous_page_number}}"> &lt; </a></li>{% endif %}
                        {% for page in games.paginator.page_range %}
                        <li><a {% if games.number == page %}class="is_active"{% endif %} href="?page={{ page }}">{{ page }}</a></li>
                        {% empty %}
                        <h2>There is no results for {{ query }}</h2>
                        {% endfor %}
                        {% if games.has_next %}<li><a href="?page={{ games.next_page_number }}"> &gt; </a></li>{% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


